<div class="card border-secondary mb-3 news-item"
  [class.hidden]="favoritesOnly && !item.favorited">
  <a class="card-body"
     href="{{item.link}}" target="_blank">

    <strong class="card-title">
      <span class="badge badge-pill badge-danger">{{item.sport}}</span>
      {{item.title}}
    </strong><br>
    <p class="card-text">{{item.content}}</p>
    <p class="card-text">

    </p>
  </a>
  <div class="card-footer">
    <small class="text-muted">{{item.pubDate}}</small>
    <a class="float-right" (click)="onFavorite(item.guid,!item.favorited)">
      <i class="fas fa-heart fa-lg"
         [class.fas]="item.favorited"
         [class.far]="!item.favorited"></i>
    </a>
  </div>
</div>
