<nav class="navbar navbar-expand navbar-dark bg-dark"
     style="justify-content: space-between;">
  <a class="navbar-brand" href="#"><strong>Individual Project</strong></a>
  <ul class="nav navbar-nav navbar-right float-right">
    <li class="nav-item dropdown">
      <app-login-modal></app-login-modal>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <h2 class="header-title">News Feed</h2>
  <hr>
  <div class="row">
    <!--Filters-->
    <div id="filters" class="col-sm-3 mb-3">
      <div class="card" style="padding: 7px 15px">
        <h5 class="card-title">Filter by Sports</h5>
        <div class="card-text">
          <label *ngFor="let sport of sportsList"
                 class="d-block">
            <input type="checkbox" checked
                   aria-label="Checkbox for sports filter"
                   (click)="toggleFilter(sport)">
            {{sport}}
          </label>
        </div>
        <hr>
        <h5 class="card-title">Filter by Favorite</h5>
        <label class="d-block">
          <input type="checkbox"
                 aria-label="Checkbox for favorites filter"
                 [checked]="favoritesOnly"
                 (change)="favoritesOnly = !favoritesOnly">
          Favorites Only
        </label>
      </div>
    </div>
    <!--News Feed-->
    <div id="news-feed" class="col-sm-9">
      <app-news-item
        *ngFor="let i of newsItems
                | filter: 'sport':filterOuts
                | sortBy: 'pubDate':'descending'"
        [item]="i" [favoritesOnly]="favoritesOnly"
        (onFavorited)="onFavorited($event)">
      </app-news-item>
    </div>
  </div>
</div>

